<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <h3>Certifica tus habilidades y competencias con excelencia</h3>
    </div>

    <div class="footer-slogan">
      be practicer, best practices
    </div>

    <div class="footer-social">
      <a href="https://www.facebook.com/people/BPracticert/61554642787642/"><img src="/assets/logos/fb_logo.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/bpracticert/"><img src="/assets/logos/ig_logo.png" alt="Instagram"></a>
      <a href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fbpracticert%2Fabout%2F%3FviewAsMember%3Dtrue"><img src="/assets/logos/in_logo.png" alt="LinkedIn"></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 BPracticert. Todos los derechos reservados.</p>
  </div>
</footer>
