<header class="header">
  <div class="header-top">
    <div class="logo">
      <img src="/assets/logos/logobp_Blanco.png" alt="Bpracticert logo" />
    </div>
    <div class="logo-right">
      <img src="/assets/logos/Hub.svg" alt="Logo HUB" />
    </div>
  </div>

    <nav class="nav" id="navMenu">
      <a routerLink="/home" routerLinkActive="active">Inicio</a>
      <a routerLink="/nosotros" routerLinkActive="active">Nosotros</a>
      <a routerLink="/certificaciones" routerLinkActive="active"
        >Certificaciones</a
      >
      <a routerLink="/bpartner" routerLinkActive="active">Bpartner</a>
      <a routerLink="/contacto" routerLinkActive="active">Contacto</a>
    </nav>

</header>
