<div class="certificaciones-container">
  <section class="certificaciones-header">
    <div class="certificaciones-contenido">
      <div class="texto-certificaciones animate-left">
        <h1 class="titulo-certificaciones">
          <span class="azul-claro">NUESTRAS</span> <br>
          <span class="azul-fuerte">CERTIFICACIONES</span>
        </h1>
        <p class="descripcion-certificaciones">
          Nuestras certificaciones son un reconocimiento otorgado por <b>BPracticert</b> a profesionales que han demostrado
          competencias en buenas prácticas dentro de cada una de las disciplinas, acreditando el examen correspondiente diseñado por nuestros
          <b>SME (Subject Matter Experts)</b>.
        </p>
      </div>

      <div class="imagen-certificaciones animate-right">
        <img src="assets/images/nosotros/fondoHome.PNG" alt="Certificaciones BPracticert">
      </div>
    </div>
  </section>
  <app-carrucel></app-carrucel>
</div>
