
<main class="nosotros-container">

  <section class="nosotros-section">
    <div class="nosotros-image">
      <img src="/assets/images/nosotros/nosotros-s1-circulob.SVG" alt="Acerca de nosotros">
    </div>
    <div class="nosotros-text">
      <h2 class="title">ACERCA DE NOSOTROS</h2>
      <p>
        Somos un organismo global de certificaciones en buenas prácticas orientadas a:
        Dirección de Proyectos, Agilidad, Negocio, Tecnología de la Información y Factor Humano.
        Contamos con la colaboración de un equipo de expertos con más de 20 años de experiencia
        en las diferentes disciplinas.
      </p>
    </div>
  </section>


  <section class="nosotros-section">
    <div class="nosotros-image">
      <img src="/assets/images/nosotros/PREGUNTAS.PNG" alt="Qué hacemos">
    </div>
    <div class="nosotros-text">
      <h2 class="title">¿QUÉ HACEMOS?</h2>
      <p>
        Impulsamos tu crecimiento profesional mediante certificaciones en buenas prácticas y
        competencias reconocidas internacionalmente.
      </p>
    </div>
  </section>

  <!-- Sección 3 -->
  <section class="nosotros-section">
    <div class="nosotros-image">
      <img src="/assets/images/nosotros/Lupa.png" alt="Cómo lo hacemos">
    </div>
    <div class="nosotros-text">
      <h2 class="title">¿CÓMO?</h2>
      <p>
        Nuestra red de SME (Subject Matter Experts) diseñan los materiales y evaluaciones adecuadas
        para asegurar que cuentas con el conocimiento teórico-práctico, y así lograr tus metas
        profesionales.
      </p>
    </div>
  </section>

  
</main>

