<section class="intro-section">
  <div class="intro-text">
    <h1 class="title">BE PRACTICER, BEST PRACTICES</h1>
    <h2 class="subtitle">Certifica tus habilidades y competencias con excelencia</h2>
    <p class="description">
      En <strong>Bpracticert</strong> te ayudamos a validar tus conocimientos con certificaciones reconocidas en el sector tecnológico.
      Mejora tu perfil profesional y destaca en el mundo digital con nosotros.
    </p>
  </div>

  <div class="logo-inicio">
    <img src="/assets/logos/bp.png" alt="Bpracticert-Inicio" />
  </div>
</section>

<app-carrucel></app-carrucel>
