<main class="bpartner-container">

  <section class="bpartner-section section1">
    <h1 class="title">BPARTNER</h1>
    <h2 class="subtitle">¿Qué es un bpartner?</h2>
    <p class="description">
      Son organizaciones acreditadas para impartir capacitación alineada a nuestros materiales
      y aplicar nuestro modelo de certificación.
    </p>
  </section>

  <section class="bpartner-section section2 animate">
    <div class="bpartner-text">
      <p>
        Nuestros Partners son nuestros asociados autorizados y avalados, quienes ofrecen nuestros
        materiales de estudio y certificaciones, asegurando que nuestros servicios lleguen a más
        personas y organizaciones.
      </p>
      <p class="highlight">¡Gracias por ser parte de nuestra comunidad profesional!</p>
    </div>
    <div class="bpartner-image">
      <img src="/assets/images/bpartner/bpartner.jpg" alt="Nuestros Partners" />
    </div>
  </section>

  <section class="bpartner-section section3 animate">
    <h2 class="subtitle">BENEFICIOS DE SER BPARTNER</h2>
    <p class="subtext">
      Sé parte de nuestra red de partners acreditados para impartir cursos con nuestros materiales
      y ofrecer nuestras certificaciones.<br />
      <strong>bpartner@bpracticert.com</strong>
    </p>

    <div class="benefits-grid">
      <div class="benefit-item">
        <img src="/assets/images/bpartner/Iconos_Materiales.svg" alt="Beneficio 1" />
        <p><strong>Acceso a materiales</strong></p>
      </div>
      <div class="benefit-item">
        <img src="/assets/images/bpartner/Iconos_Negocios.svg" alt="Beneficio 2" />
        <p><strong>Sé parte</strong> de nuestra red de negocios</p>
      </div>
      <div class="benefit-item">
        <img src="/assets/images/bpartner/Iconos_Asesorias.svg" alt="Beneficio 3" />
        <p><strong>Forma parte</strong> de una red de expertos para dar y/o recibir asesoría</p>
      </div>
      <div class="benefit-item">
        <img src="/assets/images/bpartner/Iconos_Descuentos.svg" alt="Beneficio 4" />
        <p><strong>PRECIO PREFERENCIAL</strong> en Vouchers para certificación</p>
      </div>
    </div>
  </section>
  <section class="nosotros-section clientes-section">
    <div class="clientes-header">
        <h2 class="title">Clientes que confían en Bpracticert</h2>
    </div>
    <div class="clientes-logos">
        <img src="/assets/logos/sequal_logo.png" alt="Cliente 1">
        <img src="/assets/logos/maspm_logo.png" alt="Cliente 2">
        <img src="/assets/logos/optisa_logo.png" alt="Cliente 3">
    </div>
    </section>
</main>
